* {
    box-sizing: content-box;
    font-family: Arial, fantasy;
}

body{
    background-color: #e8ebe4;
}

header {
    background-color: #006e90;
    background-image: url(4.png) ;
    padding: 20px;
    font-weight: 800;
  }

  h1 {
    font-family: 'Caveat', cursive;
    font-size: 50px;
  }

.intro {
    background-color: whitesmoke;
    opacity: 0.8;
    font-weight: 300;
    padding: 10px;
    margin: 0;
}


.container {
    background-color: #b8bacf;
    font-size: small;
    padding: 3em 2.8em;
	margin-left: 5em;
    width: 140vw;
    max-width: 80em;
    position: relative;
    border-radius: 0.4em;
}

.search-container {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
}
.search-container input {
    font-size: 1em;
    padding: 0.6em;
    border: black;
    outline: none;
    border-bottom: 2px solid #202030;
}
h2.search-results {
	margin-top: 2em;
}
button {
    font-size: 1em;
    background-color: #006e90;
    border: none;
    font-weight: 600;
    border-radius: 0.3em;
	cursor: pointer;
}
button:hover { background-color: firebrick; }

img {
    display: block;
    width: 50%;
	border: 1px solid gray;
	border-radius: 0.3em;
}

p.details {
    background-color: #B8BACF;
	width: 95%;
	line-height: 1.4em;
	margin-bottom: 1.5em;
}
.recipe-image {
    background-color: #B8BACF;
	width: 100%;
	margin-bottom: 2em;
}
h2 {
    font-size: 1.2em;
    font-weight: 500;
	margin: 2em;
    margin-left: 5em;
}
.recipe-list {
    font-size: 1em;
    position: relative;
    padding: 0 0 0 1.2em;
    color: #303040;
	margin-bottom: 1.5em;
}
.recipe-list { margin-bottom: -1em; }
.recipe-list li { cursor: pointer; padding: 0.5em; line-height: 150%; }
.recipe-list li:hover { background-color: rgba(0,0,0,0.1); color: white; }

.ingredients-block ul {
    font-size: 1em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8em 1.1em;
    padding: 0 0 0 1.2em;
    color: #303040;
	margin-bottom: 1.5em;
}
.instructions-block ul {
    font-size: 1em;
    position: relative;
    padding: 0 0 0 1.2em;
    color: #303040;
	gap: 0.6em 1.1em;
    display: grid;
	line-height: 1.4em;
}
h3 {
    text-align: left;
	margin-bottom: 1em;
    color: #202030;
}
h3.error {
	margin-bottom: -0.5em;
	margin-top: 1em;
	background-color: #FF9900;
    color: #F5F5F5;
    padding: 0.3em;
}
li.step-summary {
	font-weight: bold;
    margin-left: -1.2em;
    list-style-type: none;
	margin-bottom: 0.5em;
}
li + li.step-summary {
	margin-top: 1em;
}

.hidden {
	display: none;
}
button.back-button {
	position: relative;
	top: -0.5em;
	padding: 0.5em 1em;
	float: right;
}
.one-recipe h2 {
	margin-top: 2em;
}
.time-info {
	color: #5B2843;
	padding-left: 1em;
	font-size: smaller;
	vertical-align: baseline;
}

/* Footer */
footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #888;
}

/* Content Section */
.content-section {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 0;
}

.content-section p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    width: 50vw;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .content-section {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .content-section {
        padding: 15px;
    }

    .content-section h2 {
        font-size: 20px;
    }

    .content-section p {
        font-size: 14px;
    }
}

.container2 {
    background-image: url(foot2.png);
    background-position: right;
    background-repeat: no-repeat;
    font-size: small;
    padding: 3em 2.8em;
	margin-left: 5em;
    width: 85vw;
    max-width: 120em;
    position: relative;
    border-radius: 0.4em;
    text-align: left;
}